*{
  margin:0px;
  box-sizing: border-box;
  font-family: monospace ;
  font-weight:lighter;
  
}
:root{
  --main-bg-color: rgb(240,240,240);
  --topic-cooking-bg-color : rgba(255,0,0,0.3);
  --topic-coding-bg-color : rgba(0,255,0,0.3);
  --topic-football-bg-color : rgba(0,0,255,0.3);
  --img-default-bg: rgba(250,150,150,0.2);
  --article-default-component-bg: rgba(210,210,210,0.5);
}


/* MOBILE */

@media (max-width: 420px){
  *{
    font-size: small;
  }

  .nav{
    background-color: var(--main-bg-color);
    height : 100px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    color: black;
    
  }

  .nav-item{
    background:white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width : 100%;
   
    position: relative;
  }
  





  .nav *:visited{
    color :black;
  }

  .page-header-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 90px;
  }

  .articles-holder{
    display: grid;
    grid-template-columns: 1fr ;
    background : var(--main-bg-color);
   
  }

  .article-preview-container{
    background: rgb(240,240,240);
    padding : 5px;
    /* margin: 10px; */
    border-top : 1px rgba(20, 20, 20, 0.2) solid;
    display: grid;
    grid-template-columns: 1fr 4fr;
    
  }
  
  .article-preview-container:hover{
    background: rgba(200, 200, 200,0.2);
  }
  .article-holder{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding : 5px;
  }
  .article-child-container{
    /* background : darkgray; */
    margin : 0px;
  }
  .article-img-holder{
    width : 150px;
    height:100px;
    
    background : var(--img-default-bg); 
  }
  /* topics */
  .topic-cooking{
    background : var(--topic-cooking-bg-color); 
  }
  .topic-coding{
    background :var(--topic-coding-bg-color); 
  }
  .topic-football{
    background : var(--topic-football-bg-color); 
  }
  .author-and-created_at-holder{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .comment-and-votes-holder{
    width : 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
 
  .article-title-container{
    font-weight:bold;
  }
  .article-topic-container{
  
  }

  .article-author-container{
   
  }
  .article-created_at-container{
    
    
  }
  .article-comment_count-container{

  }
}

/* Topics.js STYLING */


.dropdown-menu-container{
  /* visibility: hidden; */
  background: rgba(200,200,200,0.3);
  width : 100px;
  top: 100px;
 
  position : absolute;
  display: flex;
  flex-direction: column;
}
.dropdown-menu-container.hide{
  visibility : hidden;
}

.topic-link-dropdown-menu-item{
  text-align: center;
  padding: 5px;
}
.topic-link-dropdown-menu-item:hover{
  background: rgba(23,23,23,0.3);
}


/* STYLING FOR FULL ARTICLE */

/* .full-article-page-grid{
  display:grid;
  background: lightgrey;
  
 
  width : auto;
 margin :5px;

} */
.full-article-container{
  /* background: darkgrey; */
  background : rgba(200,200,200,0.3);
  margin : 5px;
  /* grid-template-columns: 2fr 1fr  ; */

}




/* 1ST ROW OF ARTICLE GRID  */

.full-article-title-and-article_id-holder{
  display: grid;
  height: 30px;
  grid-template-columns: 8fr 1fr;
}
.full-article-title-holder{
  background : var(--article-default-component-bg);  
  font-weight: bolder;
  padding-left : 10px;
  display: flex;
  align-items : center;
  margin: 5px;
}
.full-article-article_id-holder{
  background : lightgreen;
  display:flex;
  justify-content: center;
  align-items : center;
  margin:5px;
}

/* 2ND ROW OF ARTICLE GRID  */
.ffull-article-img-holder-outer{
  display: grid;
  grid-template-columns: 1fr;
  
}

.full-article-img-holder-inner{
  background: var(--img-default-bg);
  height : 200px;
  width : auto;
  border : 1px black solid;
  margin : 10px;
}
.full-article-topic-container{
  width : auto;
  padding : 10px;
  display: inline-block;
  position: relative;
  left : 10px;
  top:10px;
}

/* 2ND ROW OF ARTICLE GRID  */
.full-article-article-body-holder{
  display: grid;
  grid-template-columns: 1fr;
  
}
.full-article-body{
  background : var(--article-default-component-bg);  
  padding : 10px;
  align-items : center;
  
  margin: 5px;
}
/* 4TH ROW OF ARTICLE GRID  */


.full-article-created_at-and-author-holder{
  display: grid;
  grid-template-columns: 2fr 1fr;
  
}
.full-article-author-holder{
  padding-left : 10px;
  background : var(--article-default-component-bg);  
  display: flex;
  align-items : center;
  margin :5px;
}
.full-article-created_at-holder{
  background : var(--article-default-component-bg);  
  margin :5px;
}

/* RELATED ARTICLES CONTAINER */
.related-articles-container{
  display:grid;
  background: darkgrey;
  height : 100px;
  
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr 3fr 1fr;
  border : black 1px solid;
}
/*COMMENTS CONTAINER*/

/* USER PROFILE */

.user-container{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
  margin: 20px;
}

.user-profile-container{
 
  height : 150px;
  padding : 20px;
  width : 150px;
  background : red;
  display : grid;
  grid-template-columns: 1fr;
  grid-template-rows:  auto 1fr 1fr;
  border-radius: 25%;
}

.user-profile-avatar-holder{
  display : grid;
  justify-content: center;
  align-items: center;
}

.user-profile-avatar{
  justify-content: center;
  align-items: center;
  width : 50px;
  height:50px;
  border-radius: 50%;
}
.user-profile-avatar-mini{
  justify-content: center;
  align-items: center;
  width : 40px;
  height:40px;
  border-radius: 30%;
}

  
.user-icon-holder{
  display: grid;
  align-items: center;
  justify-content: center;

}
.user-icon-mini{
  display: grid;
  align-items: center;
  justify-content: center;
  height :45px;
  width:45px;
  background:black;
  
  border-radius: 30%;
}

.user-profile-name, .user-profile-username{
  padding : 10px;
  text-align: center;
  
}

.full-article-votes-container{
  padding-left : 10px;
  background : var(--article-default-component-bg);  
  display: flex;
  align-items : center;
  justify-content: flex-end;
  margin :5px;
}
.full-article-vote-count-container{

}
.full-article-up-votes-container{
  background : rgba(0,255,0,0.9);
  width : 20px;
  height :20px;
  margin:5px;
}
.full-article-down-votes-container{
  background : rgba(255, 0, 0, 0.9);
  width : 20px;
  height :20px;
  margin:5px;
}